body {
	font-family: 'Raleway', sans-serif;
}

.navbar-default ul {
	padding: 5px;
}

.navbar-default li {
	background: #000;
	padding: 5px;
}

.navbar-default a {
	color: #ccc;
}

.navbar-default li:hover a:hover{
	background: #fff;
		color: #000;
}

#jumbo-base,
#jumbo-appel,
#jumbo-contact {
	background-size: cover;
	background-repeat: no-repeat;
	color: black;
	margin-bottom: 1px !important;
}

#jumbo-base {
	background-image: url("../images/maison-de-repos1.jpg") !important;
}

#jumbo-appel {
	background-image: url("../images/maison-de-repos.jpg") !important;
}

#jumbo-contact {
	background-image: url("../images/maison-de-repos-copy.jpg") !important;
}

.jumbotron {
	margin-bottom: 0px;
}

.p-md-5 {
		padding: 8rem !important;
}

span {
	color: #fff;
	font-family:'Raleway', sans-serif;
}

.spanAppel {
	color: #DA005A;
	font-family:'Raleway', sans-serif;
}

.titleAppel {
	color: #9e9e9e;
}

.titleAppel2 {
	color: #DA005A;
}

/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Raleway');

#Senoah {
	font-family: 'Raleway', sans-serif;

}

:root {
  --Senoah: #d91a5c;
  }

 #myTab {
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

 }

 .container {
 	margin-top: 2rem;
 }

 .media-body {
 	margin-left: 1rem;
 }

.mt-0 {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
}

@media (min-width: 768px) {
section, #services{
	padding: 10px;
	}
}

::-moz-selection {
  background: #d91a5c;
  text-shadow: none;
}

::selection {
  background: #d91a5c;
  text-shadow: none;
}

.text-primary {
  color: #d91a5c !important;
}
